openapi: 3.1.0
servers:
  - url: https://api.daraei.ai/api/v1
    description: Production Server
info:
  title: Hono Documentation
  description: Development documentation
  version: 0.0.0
paths:
  /admin/auth/login:
    post:
      operationId: postAdminAuthLogin
      tags:
        - 🔐 احراز هویت - ادمین
      summary: ورود ادمین
      description: |-
        ورود با ایمیل و رمز عبور

        ### محدودیت:
        - حداکثر ۵ تلاش در ۱۵ دقیقه
      responses:
        "200":
          description: ورود موفقیت‌آمیز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      admin:
                        type: object
                        properties:
                          id:
                            type: number
                          fullname:
                            type: string
                          email:
                            type: string
                          phone:
                            anyOf:
                              - type: string
                              - type: "null"
                          role:
                            type: string
                            enum:
                              - SUPER_ADMIN
                              - ADMIN
                          isActive:
                            type: boolean
                          createdAt:
                            type: string
                        required:
                          - id
                          - fullname
                          - email
                          - phone
                          - role
                          - isActive
                          - createdAt
                    required:
                      - token
                      - admin
                required:
                  - success
                  - message
                  - data
        "401":
          description: ایمیل یا رمز عبور اشتباه
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "429":
          description: تعداد تلاش بیش از حد مجاز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 6
              required:
                - email
                - password
  /admin/auth/me:
    get:
      operationId: getAdminAuthMe
      tags:
        - 🔐 احراز هویت - ادمین
      summary: اطلاعات ادمین فعلی
      description: دریافت اطلاعات ادمین لاگین شده
      security:
        - bearerAuth: []
      responses:
        "200":
          description: اطلاعات ادمین
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      fullname:
                        type: string
                      email:
                        type: string
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      role:
                        type: string
                        enum:
                          - SUPER_ADMIN
                          - ADMIN
                      isActive:
                        type: boolean
                      createdAt:
                        type: string
                    required:
                      - id
                      - fullname
                      - email
                      - phone
                      - role
                      - isActive
                      - createdAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
  /admin/auth/logout:
    post:
      operationId: postAdminAuthLogout
      tags:
        - 🔐 احراز هویت - ادمین
      summary: خروج ادمین
      description: خروج از سیستم و باطل کردن توکن
      security:
        - bearerAuth: []
      responses:
        "200":
          description: خروج موفقیت‌آمیز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
  /admin/auth/admins:
    get:
      operationId: getAdminAuthAdmins
      tags:
        - 👥 مدیریت ادمین‌ها - ادمین
      summary: لیست ادمین‌ها
      description: فقط SUPER_ADMIN دسترسی دارد
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست ادمین‌ها
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        fullname:
                          type: string
                        email:
                          type: string
                        phone:
                          anyOf:
                            - type: string
                            - type: "null"
                        role:
                          type: string
                          enum:
                            - SUPER_ADMIN
                            - ADMIN
                        isActive:
                          type: boolean
                        createdAt:
                          type: string
                      required:
                        - id
                        - fullname
                        - email
                        - phone
                        - role
                        - isActive
                        - createdAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "403":
          description: فقط SUPER_ADMIN دسترسی دارد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
    post:
      operationId: postAdminAuthAdmins
      tags:
        - 👥 مدیریت ادمین‌ها - ادمین
      summary: ایجاد ادمین جدید
      description: "

        ## ایجاد ادمین جدید


        فقط SUPER_ADMIN دسترسی دارد.


        ### فیلدها:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | fullname | string | ✅ | نام کامل (حداقل ۲ کاراکتر) |

        | email | string | ✅ | ایمیل معتبر |

        | password | string | ✅ | رمز عبور (حداقل ۶ کاراکتر) |

        | phone | string | ❌ | شماره تلفن (حداقل ۱۰ کاراکتر) |

        | role | enum | ❌ | نقش (SUPER_ADMIN, ADMIN) - پیش‌فرض: ADMIN |

        \    "
      security:
        - bearerAuth: []
      responses:
        "201":
          description: ادمین ایجاد شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      fullname:
                        type: string
                      email:
                        type: string
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      role:
                        type: string
                        enum:
                          - SUPER_ADMIN
                          - ADMIN
                      isActive:
                        type: boolean
                      createdAt:
                        type: string
                    required:
                      - id
                      - fullname
                      - email
                      - phone
                      - role
                      - isActive
                      - createdAt
                required:
                  - success
                  - message
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "403":
          description: فقط SUPER_ADMIN دسترسی دارد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "409":
          description: ایمیل تکراری
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                  minLength: 2
                email:
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 6
                phone:
                  type: string
                  minLength: 10
                role:
                  default: ADMIN
                  type: string
                  enum:
                    - SUPER_ADMIN
                    - ADMIN
              required:
                - fullname
                - email
                - password
  /admin/auth/admins/{id}:
    put:
      operationId: putAdminAuthAdmins:id
      tags:
        - 👥 مدیریت ادمین‌ها - ادمین
      summary: ویرایش ادمین
      description: فقط SUPER_ADMIN دسترسی دارد. فقط فیلدهای ارسال شده بروزرسانی می‌شوند.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: ادمین بروزرسانی شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      fullname:
                        type: string
                      email:
                        type: string
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      role:
                        type: string
                        enum:
                          - SUPER_ADMIN
                          - ADMIN
                      isActive:
                        type: boolean
                      createdAt:
                        type: string
                    required:
                      - id
                      - fullname
                      - email
                      - phone
                      - role
                      - isActive
                      - createdAt
                required:
                  - success
                  - message
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "403":
          description: فقط SUPER_ADMIN دسترسی دارد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: ادمین یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                  minLength: 2
                email:
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 6
                phone:
                  type: string
                  minLength: 10
                role:
                  type: string
                  enum:
                    - SUPER_ADMIN
                    - ADMIN
                isActive:
                  type: boolean
    delete:
      operationId: deleteAdminAuthAdmins:id
      tags:
        - 👥 مدیریت ادمین‌ها - ادمین
      summary: حذف ادمین
      description: فقط SUPER_ADMIN دسترسی دارد
      security:
        - bearerAuth: []
      responses:
        "200":
          description: ادمین حذف شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "403":
          description: فقط SUPER_ADMIN دسترسی دارد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: ادمین یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
  /admin/users:
    get:
      operationId: getAdminUsers
      tags:
        - 👥 مدیریت کاربران - ادمین
      summary: لیست کاربران
      description: "

        ## لیست کاربران با صفحه‌بندی


        ### پارامترهای Query:

        | پارامتر | نوع | پیش‌فرض | توضیحات |

        |---------|-----|---------|---------|

        | page | number | 1 | شماره صفحه |

        | limit | number | 10 | تعداد در هر صفحه (حداکثر ۱۰۰) |

        | search | string | - | جستجو در شماره تلفن |

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست کاربران
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            phone:
                              anyOf:
                                - type: string
                                - type: "null"
                            createdAt:
                              type: string
                            updatedAt:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - id
                            - phone
                            - createdAt
                            - updatedAt
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          limit:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - limit
                          - total
                          - totalPages
                    required:
                      - users
                      - pagination
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: query
          name: page
          schema:
            default: "1"
            type: string
        - in: query
          name: limit
          schema:
            default: "10"
            type: string
        - in: query
          name: search
          schema:
            type: string
    post:
      operationId: postAdminUsers
      tags:
        - 👥 مدیریت کاربران - ادمین
      summary: ایجاد کاربر جدید
      description: "

        ## ایجاد کاربر جدید


        ### فیلدها:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | phone | string | ❌ | شماره تلفن (حداقل ۱۰ کاراکتر) |

        \    "
      security:
        - bearerAuth: []
      responses:
        "201":
          description: کاربر ایجاد شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - phone
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "409":
          description: شماره تلفن تکراری
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  minLength: 10
  /admin/users/{id}:
    get:
      operationId: getAdminUsers:id
      tags:
        - 👥 مدیریت کاربران - ادمین
      summary: دریافت کاربر
      description: دریافت اطلاعات یک کاربر با شناسه
      security:
        - bearerAuth: []
      responses:
        "200":
          description: اطلاعات کاربر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - phone
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: کاربر یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
    put:
      operationId: putAdminUsers:id
      tags:
        - 👥 مدیریت کاربران - ادمین
      summary: ویرایش کاربر
      description: "

        ## ویرایش کاربر


        فقط فیلدهای ارسال شده بروزرسانی می‌شوند.


        ### فیلدها:

        | فیلد | نوع | توضیحات |

        |------|-----|---------|

        | phone | string | شماره تلفن (حداقل ۱۰ کاراکتر) |

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: کاربر بروزرسانی شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - phone
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: کاربر یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "409":
          description: شماره تلفن تکراری
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  minLength: 10
    delete:
      operationId: deleteAdminUsers:id
      tags:
        - 👥 مدیریت کاربران - ادمین
      summary: حذف کاربر
      description: حذف کاربر و تمام داده‌های مرتبط (جلسات، پروفایل)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: کاربر حذف شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: کاربر یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
  /admin/logs:
    get:
      operationId: getAdminLogs
      tags:
        - 📋 لاگ‌های سیستم - ادمین
      summary: لیست لاگ‌های ادمین
      description: "

        ## لیست لاگ‌های فعالیت ادمین‌ها


        ### پارامترهای Query:

        | پارامتر | نوع | پیش‌فرض | توضیحات |

        |---------|-----|---------|---------|

        | page | number | 1 | شماره صفحه |

        | limit | number | 50 | تعداد در هر صفحه (حداکثر ۱۰۰) |

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست لاگ‌ها
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      logs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            adminId:
                              type: number
                            action:
                              type: string
                            targetEntity:
                              type: string
                            targetId:
                              anyOf:
                                - type: number
                                - type: "null"
                            description:
                              anyOf:
                                - type: string
                                - type: "null"
                            previousData:
                              anyOf:
                                - {}
                                - type: "null"
                            newData:
                              anyOf:
                                - {}
                                - type: "null"
                            ipAddress:
                              anyOf:
                                - type: string
                                - type: "null"
                            createdAt:
                              type: string
                          required:
                            - id
                            - adminId
                            - action
                            - targetEntity
                            - targetId
                            - description
                            - previousData
                            - newData
                            - ipAddress
                            - createdAt
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          limit:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - limit
                          - total
                          - totalPages
                    required:
                      - logs
                      - pagination
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: query
          name: page
          schema:
            default: 1
            type: number
            minimum: 1
        - in: query
          name: limit
          schema:
            default: 50
            type: number
            minimum: 1
            maximum: 100
  /auth/otp/request:
    post:
      operationId: postAuthOtpRequest
      tags:
        - 🔐 احراز هویت - کاربر
      summary: درخواست کد OTP
      description: "

        ## درخواست کد تایید


        کد OTP به شماره تلفن ارسال می‌شود. این endpoint هم برای ورود و هم برای
        ثبت‌نام استفاده می‌شود.


        ### ویژگی‌ها:

        - کاربران جدید می‌توانند بدون ثبت‌نام قبلی OTP درخواست کنند

        - کاربران موجود می‌توانند برای ورود OTP درخواست کنند

        - کد به مدت ۵ دقیقه معتبر است


        ### محدودیت:

        - حداکثر ۳ درخواست در ۵ دقیقه

        \    "
      responses:
        "200":
          description: کد OTP ارسال شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      expiresAt:
                        type: string
                        description: زمان انقضای کد OTP
                    required:
                      - expiresAt
                required:
                  - success
                  - message
                  - data
        "429":
          description: تعداد درخواست بیش از حد مجاز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - success
                  - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  minLength: 10
                  maxLength: 15
                  pattern: ^[0-9]+$
              required:
                - phone
  /auth/otp/verify:
    post:
      operationId: postAuthOtpVerify
      tags:
        - 🔐 احراز هویت - کاربر
      summary: تایید OTP و ورود
      description: "

        ## تایید کد و ورود/ثبت‌نام


        کد OTP را تایید کرده و در صورت معتبر بودن، توکن برمی‌گرداند.

        اگر کاربر وجود نداشته باشد، ابتدا ثبت‌نام می‌شود.


        ### شرایط:

        - کد OTP معتبر و منقضی نشده باشد


        ### محدودیت:

        - حداکثر ۵ تلاش در ۵ دقیقه (جلوگیری از brute force)

        \    "
      responses:
        "200":
          description: ورود موفقیت‌آمیز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: number
                          phone:
                            anyOf:
                              - type: string
                              - type: "null"
                          createdAt:
                            type: string
                          updatedAt:
                            anyOf:
                              - type: string
                              - type: "null"
                        required:
                          - id
                          - phone
                          - createdAt
                          - updatedAt
                      token:
                        type: string
                      expiresAt:
                        type: string
                    required:
                      - user
                      - token
                      - expiresAt
                required:
                  - success
                  - message
                  - data
        "401":
          description: کد نامعتبر یا منقضی
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - success
                  - error
        "429":
          description: تعداد تلاش بیش از حد مجاز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - success
                  - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  minLength: 10
                  maxLength: 15
                  pattern: ^[0-9]+$
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
                  pattern: ^[0-9]+$
              required:
                - phone
                - code
  /auth/logout:
    post:
      operationId: postAuthLogout
      tags:
        - 🔐 احراز هویت - کاربر
      summary: خروج از سیستم
      description: Session را باطل کرده و توکن دیگر معتبر نخواهد بود.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: خروج موفقیت‌آمیز
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - success
                  - error
  /auth/me:
    get:
      operationId: getAuthMe
      tags:
        - 🔐 احراز هویت - کاربر
      summary: دریافت اطلاعات کاربر
      description: "

        ## اطلاعات کاربر


        اطلاعات کاربر لاگین شده را برمی‌گرداند.


        ### نمونه پاسخ:

        ```json

        {

        \  \"success\": true,

        \  \"data\": {

        \    \"id\": 1,

        \    \"phone\": \"09123456789\",

        \    \"createdAt\": \"2025-01-01T00:00:00Z\",

        \    \"updatedAt\": \"2025-01-01T00:00:00Z\"

        \  }

        }

        ```

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: اطلاعات کاربر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      phone:
                        anyOf:
                          - type: string
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - phone
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - success
                  - error
  /admin/daily-analysis:
    get:
      operationId: getAdminDaily-analysis
      tags:
        - 📊 تحلیل روزانه - ادمین
      summary: لیست تحلیل‌های روزانه
      description: "

        ## لیست تحلیل‌های روزانه با صفحه‌بندی


        ### پارامترهای Query:

        | پارامتر | نوع | پیش‌فرض | توضیحات |

        |---------|-----|---------|---------|

        | page | number | 1 | شماره صفحه |

        | limit | number | 10 | تعداد در هر صفحه (حداکثر ۱۰۰) |


        ### مرتب‌سازی:

        - بر اساس تاریخ تحلیل (جدیدترین اول)

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست تحلیل‌های روزانه
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            title:
                              type: string
                            content:
                              type: string
                            analysisDate:
                              type: string
                            isActive:
                              type: boolean
                            createdBy:
                              anyOf:
                                - type: number
                                - type: "null"
                            createdAt:
                              type: string
                            updatedAt:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - id
                            - title
                            - content
                            - analysisDate
                            - isActive
                            - createdBy
                            - createdAt
                            - updatedAt
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          limit:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - limit
                          - total
                          - totalPages
                    required:
                      - data
                      - pagination
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: query
          name: page
          schema:
            default: "1"
            type: string
        - in: query
          name: limit
          schema:
            default: "10"
            type: string
    post:
      operationId: postAdminDaily-analysis
      tags:
        - 📊 تحلیل روزانه - ادمین
      summary: ایجاد تحلیل روزانه جدید
      description: "

        ## ایجاد تحلیل روزانه جدید


        ### فیلدها:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | title | string | ✅ | عنوان (۱ تا ۲۰۰ کاراکتر) |

        | content | string | ✅ | محتوا (حداقل ۱ کاراکتر) |

        | analysisDate | string | ❌ | تاریخ تحلیل (ISO 8601) - پیش‌فرض: تاریخ
        فعلی |

        | isActive | boolean | ❌ | وضعیت فعال - پیش‌فرض: true |

        \    "
      security:
        - bearerAuth: []
      responses:
        "201":
          description: تحلیل روزانه ایجاد شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      content:
                        type: string
                      analysisDate:
                        type: string
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - title
                      - content
                      - analysisDate
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "400":
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                content:
                  type: string
                  minLength: 1
                analysisDate:
                  type: string
                isActive:
                  default: true
                  type: boolean
              required:
                - title
                - content
  /admin/daily-analysis/{id}:
    get:
      operationId: getAdminDaily-analysis:id
      tags:
        - 📊 تحلیل روزانه - ادمین
      summary: دریافت تحلیل روزانه
      description: دریافت اطلاعات یک تحلیل روزانه با شناسه
      security:
        - bearerAuth: []
      responses:
        "200":
          description: اطلاعات تحلیل روزانه
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      content:
                        type: string
                      analysisDate:
                        type: string
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - title
                      - content
                      - analysisDate
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: تحلیل روزانه یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
    put:
      operationId: putAdminDaily-analysis:id
      tags:
        - 📊 تحلیل روزانه - ادمین
      summary: ویرایش تحلیل روزانه
      description: "

        ## ویرایش تحلیل روزانه


        فقط فیلدهای ارسال شده بروزرسانی می‌شوند.


        ### فیلدها:

        | فیلد | نوع | توضیحات |

        |------|-----|---------|

        | title | string | عنوان (۱ تا ۲۰۰ کاراکتر) |

        | content | string | محتوا (حداقل ۱ کاراکتر) |

        | analysisDate | string | تاریخ تحلیل (ISO 8601) |

        | isActive | boolean | وضعیت فعال |

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: تحلیل روزانه بروزرسانی شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      content:
                        type: string
                      analysisDate:
                        type: string
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - title
                      - content
                      - analysisDate
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "400":
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: تحلیل روزانه یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                content:
                  type: string
                  minLength: 1
                analysisDate:
                  type: string
                isActive:
                  type: boolean
    delete:
      operationId: deleteAdminDaily-analysis:id
      tags:
        - 📊 تحلیل روزانه - ادمین
      summary: حذف تحلیل روزانه
      description: حذف یک تحلیل روزانه با شناسه
      security:
        - bearerAuth: []
      responses:
        "200":
          description: تحلیل روزانه حذف شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: تحلیل روزانه یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
  /daily-analysis:
    get:
      operationId: getDaily-analysis
      tags:
        - 📊 تحلیل روزانه - کاربر
      summary: لیست تحلیل‌های روزانه فعال
      description: "

        ## لیست تحلیل‌های روزانه فعال با صفحه‌بندی


        فقط تحلیل‌های فعال (isActive: true) نمایش داده می‌شوند.


        ### پارامترهای Query:

        | پارامتر | نوع | پیش‌فرض | توضیحات |

        |---------|-----|---------|---------|

        | page | number | 1 | شماره صفحه |

        | limit | number | 10 | تعداد در هر صفحه (حداکثر ۱۰۰) |


        ### مرتب‌سازی:

        - بر اساس تاریخ تحلیل (جدیدترین اول)

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست تحلیل‌های روزانه فعال
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            title:
                              type: string
                            content:
                              type: string
                            analysisDate:
                              type: string
                            isActive:
                              type: boolean
                            createdBy:
                              anyOf:
                                - type: number
                                - type: "null"
                            createdAt:
                              type: string
                            updatedAt:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - id
                            - title
                            - content
                            - analysisDate
                            - isActive
                            - createdBy
                            - createdAt
                            - updatedAt
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          limit:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - limit
                          - total
                          - totalPages
                    required:
                      - data
                      - pagination
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: query
          name: page
          schema:
            default: "1"
            type: string
        - in: query
          name: limit
          schema:
            default: "10"
            type: string
  /daily-analysis/{id}:
    get:
      operationId: getDaily-analysis:id
      tags:
        - 📊 تحلیل روزانه - کاربر
      summary: دریافت تحلیل روزانه
      description: "

        ## دریافت اطلاعات یک تحلیل روزانه با شناسه


        فقط تحلیل‌های فعال قابل دریافت هستند.

        اگر تحلیل غیرفعال باشد، خطای ۴۰۴ برگردانده می‌شود.

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: اطلاعات تحلیل روزانه
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      content:
                        type: string
                      analysisDate:
                        type: string
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - title
                      - content
                      - analysisDate
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: تحلیل روزانه یافت نشد یا غیرفعال است
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
  /admin/auctions:
    get:
      operationId: getAdminAuctions
      tags:
        - 🏷️ مزایده - ادمین
      summary: لیست مزایده‌ها
      description: "

        ## لیست مزایده‌ها با صفحه‌بندی و فیلتر


        ### پارامترهای Query:

        | پارامتر | نوع | پیش‌فرض | توضیحات |

        |---------|-----|---------|---------|

        | page | number | 1 | شماره صفحه |

        | limit | number | 10 | تعداد در هر صفحه (حداکثر ۱۰۰) |

        | isActive | boolean | - | فیلتر بر اساس وضعیت فعال |

        | fromDate | string | - | فیلتر از تاریخ (YYYY-MM-DD) |

        | toDate | string | - | فیلتر تا تاریخ (YYYY-MM-DD) |


        ### مرتب‌سازی:

        - بر اساس تاریخ برگزاری (جدیدترین اول)

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست مزایده‌ها
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            holdingDate:
                              type: string
                            startHour:
                              type: number
                            endHour:
                              type: number
                            isActive:
                              type: boolean
                            createdBy:
                              anyOf:
                                - type: number
                                - type: "null"
                            createdAt:
                              type: string
                            updatedAt:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - id
                            - name
                            - holdingDate
                            - startHour
                            - endHour
                            - isActive
                            - createdBy
                            - createdAt
                            - updatedAt
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          limit:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - limit
                          - total
                          - totalPages
                    required:
                      - data
                      - pagination
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: query
          name: page
          schema:
            default: "1"
            type: string
        - in: query
          name: limit
          schema:
            default: "10"
            type: string
        - in: query
          name: isActive
          schema:
            type: string
        - in: query
          name: fromDate
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: toDate
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
    post:
      operationId: postAdminAuctions
      tags:
        - 🏷️ مزایده - ادمین
      summary: ایجاد مزایده جدید
      description: "

        ## ایجاد مزایده جدید


        ### فیلدها:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | name | string | ✅ | نام مزایده (۱ تا ۲۰۰ کاراکتر) |

        | holdingDate | string | ✅ | تاریخ برگزاری (YYYY-MM-DD) |

        | startHour | number | ✅ | ساعت شروع (۰ تا ۲۳) |

        | endHour | number | ✅ | ساعت پایان (۰ تا ۲۳، بزرگتر از ساعت شروع) |

        | isActive | boolean | ❌ | وضعیت فعال - پیش‌فرض: false |


        ### قوانین اعتبارسنجی:

        - نام نمی‌تواند فقط فاصله باشد

        - ساعت پایان باید بعد از ساعت شروع باشد

        \    "
      security:
        - bearerAuth: []
      responses:
        "201":
          description: مزایده ایجاد شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      holdingDate:
                        type: string
                      startHour:
                        type: number
                      endHour:
                        type: number
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - name
                      - holdingDate
                      - startHour
                      - endHour
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "400":
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                holdingDate:
                  type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
                startHour:
                  type: integer
                  minimum: 0
                  maximum: 23
                endHour:
                  type: integer
                  minimum: 0
                  maximum: 23
                isActive:
                  default: false
                  type: boolean
              required:
                - name
                - holdingDate
                - startHour
                - endHour
  /admin/auctions/{id}:
    get:
      operationId: getAdminAuctions:id
      tags:
        - 🏷️ مزایده - ادمین
      summary: دریافت مزایده
      description: دریافت اطلاعات یک مزایده با شناسه
      security:
        - bearerAuth: []
      responses:
        "200":
          description: اطلاعات مزایده
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      holdingDate:
                        type: string
                      startHour:
                        type: number
                      endHour:
                        type: number
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - name
                      - holdingDate
                      - startHour
                      - endHour
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: مزایده یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
    put:
      operationId: putAdminAuctions:id
      tags:
        - 🏷️ مزایده - ادمین
      summary: ویرایش مزایده
      description: "

        ## ویرایش مزایده


        فقط فیلدهای ارسال شده بروزرسانی می‌شوند.


        ### فیلدها:

        | فیلد | نوع | توضیحات |

        |------|-----|---------|

        | name | string | نام مزایده (۱ تا ۲۰۰ کاراکتر) |

        | holdingDate | string | تاریخ برگزاری (YYYY-MM-DD) |

        | startHour | number | ساعت شروع (۰ تا ۲۳) |

        | endHour | number | ساعت پایان (۰ تا ۲۳) |

        | isActive | boolean | وضعیت فعال |


        ### قوانین اعتبارسنجی:

        - نام نمی‌تواند فقط فاصله باشد

        - اگر هر دو ساعت ارسال شوند، ساعت پایان باید بعد از ساعت شروع باشد

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: مزایده بروزرسانی شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      holdingDate:
                        type: string
                      startHour:
                        type: number
                      endHour:
                        type: number
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - name
                      - holdingDate
                      - startHour
                      - endHour
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "400":
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: مزایده یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                holdingDate:
                  type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
                startHour:
                  type: integer
                  minimum: 0
                  maximum: 23
                endHour:
                  type: integer
                  minimum: 0
                  maximum: 23
                isActive:
                  type: boolean
    delete:
      operationId: deleteAdminAuctions:id
      tags:
        - 🏷️ مزایده - ادمین
      summary: حذف مزایده
      description: حذف یک مزایده با شناسه
      security:
        - bearerAuth: []
      responses:
        "200":
          description: مزایده حذف شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: مزایده یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
  /admin/auctions/{id}/status:
    patch:
      operationId: patchAdminAuctions:idStatus
      tags:
        - 🏷️ مزایده - ادمین
      summary: تغییر وضعیت مزایده
      description: "

        ## تغییر وضعیت فعال/غیرفعال مزایده


        ### فیلدها:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | isActive | boolean | ✅ | true برای فعال‌سازی، false برای غیرفعال‌سازی
        |

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: وضعیت مزایده تغییر کرد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      holdingDate:
                        type: string
                      startHour:
                        type: number
                      endHour:
                        type: number
                      isActive:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                    required:
                      - id
                      - name
                      - holdingDate
                      - startHour
                      - endHour
                      - isActive
                      - createdBy
                      - createdAt
                      - updatedAt
                required:
                  - success
                  - message
                  - data
        "400":
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "404":
          description: مزایده یافت نشد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^\d+$
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive:
                  type: boolean
              required:
                - isActive
  /admin/indicators:
    get:
      operationId: getAdminIndicators
      tags:
        - 📊 اندیکاتورها - ادمین
      summary: لیست اندیکاتورها
      description: "

        ## لیست اندیکاتورها با صفحه‌بندی


        ### پارامترهای Query:

        | پارامتر | نوع | پیش‌فرض | توضیحات |

        |---------|-----|---------|---------|

        | page | number | 1 | شماره صفحه |

        | limit | number | 10 | تعداد در هر صفحه (حداکثر ۱۰۰) |

        | isActive | boolean | - | فیلتر بر اساس وضعیت فعال |


        ### مرتب‌سازی:

        - بر اساس تاریخ ایجاد (جدیدترین اول)

        \    "
      security:
        - bearerAuth: []
      responses:
        "200":
          description: لیست اندیکاتورها
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            code:
                              anyOf:
                                - type: string
                                - type: "null"
                            description:
                              anyOf:
                                - type: string
                                - type: "null"
                            percentage:
                              anyOf:
                                - type: string
                                - type: "null"
                            isActive:
                              type: boolean
                            isOnDemand:
                              type: boolean
                            createdBy:
                              anyOf:
                                - type: number
                                - type: "null"
                            createdAt:
                              type: string
                            updatedAt:
                              anyOf:
                                - type: string
                                - type: "null"
                            ranges:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  indicatorId:
                                    type: number
                                  minPercentage:
                                    type: number
                                  maxPercentage:
                                    type: number
                                  displayText:
                                    type: string
                                  sortOrder:
                                    type: number
                                required:
                                  - id
                                  - indicatorId
                                  - minPercentage
                                  - maxPercentage
                                  - displayText
                                  - sortOrder
                          required:
                            - id
                            - name
                            - code
                            - description
                            - percentage
                            - isActive
                            - isOnDemand
                            - createdBy
                            - createdAt
                            - updatedAt
                            - ranges
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          limit:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - limit
                          - total
                          - totalPages
                    required:
                      - data
                      - pagination
                required:
                  - success
                  - data
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      parameters:
        - in: query
          name: page
          schema:
            default: "1"
            type: string
        - in: query
          name: limit
          schema:
            default: "10"
            type: string
        - in: query
          name: isActive
          schema:
            type: string
    post:
      operationId: postAdminIndicators
      tags:
        - 📊 اندیکاتورها - ادمین
      summary: ایجاد اندیکاتور جدید
      description: "

        ## ایجاد اندیکاتور جدید


        ### فیلدها:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | name | string | ✅ | نام (۱ تا ۱۰۰ کاراکتر) |

        | code | string | ❌ | کد یکتا (حروف، اعداد، خط تیره، زیرخط) |

        | description | string | ❌ | توضیحات (حداکثر ۵۰۰ کاراکتر) |

        | percentage | string | ❌ | درصد|


        | isActive | boolean | ❌ | وضعیت فعال - پیش‌فرض: true |

        | isOnDemand | boolean | ❌ | محاسبه بر اساس تقاضا - پیش‌فرض: false |

        | ranges | array | ✅ | بازه‌های درصد (حداقل یک بازه) |


        ### ساختار هر بازه:

        | فیلد | نوع | الزامی | توضیحات |

        |------|-----|--------|---------|

        | minPercentage | number | ✅ | حداقل درصد (۰-۱۰۰) |

        | maxPercentage | number | ✅ | حداکثر درصد (۰-۱۰۰) |

        | displayText | string | ✅ | متن نمایشی |

        | sortOrder | number | ❌ | ترتیب نمایش |


        ### قوانین اعتبارسنجی:

        - حداقل درصد باید کمتر از حداکثر باشد

        - بازه‌ها نباید همپوشانی داشته باشند

        - کد باید یکتا باشد

        \    "
      security:
        - bearerAuth: []
      responses:
        "201":
          description: اندیکاتور ایجاد شد
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      code:
                        anyOf:
                          - type: string
                          - type: "null"
                      description:
                        anyOf:
                          - type: string
                          - type: "null"
                      percentage:
                        anyOf:
                          - type: string
                          - type: "null"
                      isActive:
                        type: boolean
                      isOnDemand:
                        type: boolean
                      createdBy:
                        anyOf:
                          - type: number
                          - type: "null"
                      createdAt:
                        type: string
                      updatedAt:
                        anyOf:
                          - type: string
                          - type: "null"
                      ranges:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            indicatorId:
                              type: number
                            minPercentage:
                              type: number
                            maxPercentage:
                              type: number
                            displayText:
                              type: string
                            sortOrder:
                              type: number
                          required:
                            - id
                            - indicatorId
                            - minPercentage
                            - maxPercentage
                            - displayText
                            - sortOrder
                    required:
                      - id
                      - name
                      - code
                      - description
                      - percentage
                      - isActive
                      - isOnDemand
                      - createdBy
                      - createdAt
                      - updatedAt
                      - ranges
                required:
                  - success
                  - message
                  - data
        "400":
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
        "401":
          description: توکن نامعتبر
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  message:
                    type: string
                required:
                  - success
                  - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                code:
                  type: string
                  maxLength: 50
                  pattern: ^[a-zA-Z0-9_-]*$
                description:
                  type: string
[...]
