@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 215 20% 25%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#10141F] text-white antialiased;
  }
}

@layer utilities {
  .min-h-dvh {
    min-height: 100dvh;
  }
  .h-dvh {
    height: 100dvh;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
